.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: #131c1e;
}

.text {
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    border-radius: 5px;
}
